<div>
    <div>
   <h1><p style="color:blue;"><b>Facebook</b></p></h1> 
</div>
{{#each users}}
<div>
    <b>ID:</b>
    {{id}}
</div>

<div>
    <b>Name:</b>
    {{name}}
</div>

<div>
    <b>Gender:</b>
    {{gender}}
</div>

<div>
    <b>Age:</b>
    {{age}}
</div>

<div>
    <p style="color:blue;"><b>Friends</b></p>
    
</div>
{{#each friends}}
<div>
    <b>ID:</b>
    {{id}}
</div>

<div>
    <b>Name:</b>
    {{name}}
</div>

<div>
    <b>Gender:</b>
    {{gender}}
</div>

<div>
    <b>Age:</b>
    {{age}}
</div>

<div>
    <p style="color:blue;"><b>Mutual friends:</b></p>
</div>
{{#each mutual_friends}}
</div>

<div>
    <b>ID:</b>
    {{id}}
</div>

<div>
    <b>Name:</b>
    {{name}}
</div>

<div>
    <b>Gender:</b>
    {{gender}}
</div>

<div>
    <b>Age:</b>
    {{age}}
</div>
{{/each}}

<br>


{{/each}}
</div>

<div>
     <p style="color:blue;"><b>Groups:</b></p>
</div>
<div>
    {{#each groups}}
</div>
<div>
    <b>ID:</b>
    {{id}}
</div>

<div>
    <b>Name:</b>
    {{name}}
</div>
<div>
    <b>Description:</b>
    {{id}}
</div>

<br>

<div>
    <p style="color:blue;"><b>Members:</b></p>
</div>
{{#each members}}
<div>
    <b>ID:</b>
    {{id}}
</div>

<div>
    <b>Name:</b>
    {{name}}
</div>

<div>
    <b>Gender:</b>
    {{gender}}
</div>

<div>
    <b>Age:</b>
    {{age}}
</div>
{{/each}}
<br>
<div>
    <b>ID:</b>
    {{id}}
</div>

<div>
    <b>Name:</b>
    {{name}}
</div>
<div>
    <b>Description:</b>
    {{id}}
</div>

<br>

<div>
    <p style="color:blue;"><b>Members:</b></p>
</div>
{{#each members}}
<div>
    <b>ID:</b>
    {{id}}
</div>

<div>
    <b>Name:</b>
    {{name}}
</div>

<div>
    <b>Gender:</b>
    {{gender}}
</div>

<div>
    <b>Age:</b>
    {{age}}
</div>
{{/each}}

</div>
{{/each}}
<br>
<div>
    <b>ID:</b>
    {{id}}
</div>

<div>
    <b>Name:</b>
    {{name}}
</div>

<div>
    <b>Age:</b>
    {{age}}
</div>
<br>
<div>
    <p style="color:blue;"><b>Friends:</b></p>
    </div>
{{#each friends}}
<div>
    <b>ID:</b>
    {{id}}
</div>

<div>
    <b>Name:</b>
    {{name}}
</div>

<div>
    <b>Gender:</b>
    {{gender}}
</div>

<div>
    <b>Age:</b>
    {{age}}
</div>
<br>
<br>
<div>
    <p style="color:blue;"><b>Mutual friends:</b></p>
</div>
{{#each mutual_friends}}
</div>

<div>
    <b>ID:</b>
    {{id}}
</div>

<div>
    <b>Name:</b>
    {{name}}
</div>

<div>
    <b>Gender:</b>
    {{gender}}
</div>

<div>
    <b>Age:</b>
    {{age}}
</div>
{{/each}}

<br>
<br>
<div>
    {{#each mutual_friends}}
</div>
<div>
    <b>ID:</b>
    {{id}}
</div>

<div>
    <b>Name:</b>
    {{name}}
</div>

<div>
    <b>Gender:</b>
    {{gender}}
</div>

<div>
    <b>Age:</b>
    {{age}}
</div>
{{/each}}
</div>

<div>
     <p style="color:blue;"><b>Groups:</b></p>
</div>
<div>
    {{#each groups}}
</div>
<div>
    <b>ID:</b>
    {{id}}
</div>

<div>
    <b>Name:</b>
    {{name}}
</div>
<div>
    <b>Description:</b>
    {{id}}
</div>

<br>

<div>
    <p style="color:blue;"><b>Members:</b></p>
</div>
{{#each members}}
<div>
    <b>ID:</b>
    {{id}}
</div>

<div>
    <b>Name:</b>
    {{name}}
</div>

<div>
    <b>Gender:</b>
    {{gender}}
</div>

<div>
    <b>Age:</b>
    {{age}}
</div>
</div>
{{/each}}
</div>
{{/each}}
</div>
{{/each}}
</div>
{{/each}}
