{{!-- 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 --}}
 


<div class="card">
    <div class="row">
    <div class="col-6">
        {{#with name}}
      <h4>{{firstname}} {{lastname}}</h4>  
      {{/with}}
    </div>

    <div class="col-6 text-end">
        <h4>Resume project</h4>
    </div>
 </div>
</div>

<div class="g-5">
    <h2>{{title}}</h2>
    <p>I am study at IT Brains school</p>
    <div class="row g-2">
       
{{#each buttons}}
 <div class="col-3">
<a href="/{{this}}" class="btn btn-primary">{{this}}</a>
</div>
{{/each}}
</div>
</div>

{{!-- 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
--}}