<div>
<p>

    
{{#with person}}
<div>
    <i><h1>{{name}}</h1></i>
</div>

<div>
    <b>Age:</b>
    <i>{{age}}</i>
</div>


<div>
  <b>Gender:</b> 
<i>{{gender}}</i>
</div>

<br>
<hr/>
<br>

<div>
    {{#with address}}
    <b>Address:</b> 
<address>{{address}}</address>
<div>
    {{street}}
</div>
<div>
    {{city}}
</div>
<div>
    {{state}}
</div>

<div>
    {{zip}}
</div>

<div>
    {{country}}
</div>

{{/with}}
</div>


{{/with}}
</div>
</p>
<br>
<br>
<hr/>

<details>
<summary>
     Click to read more about me
</summary>
<p>
    <br>

    <div>
        <a>❍</a>
        <ul>
            <b>
                <em>
                    <p style="color:#029B40;"><u>Education:</u></p>
                </em>
            </b>
        </ul>
    </div>

    <div>
        <em>Degree:</em>
        <a>Bachelor of Science</a>
    </div>
    
    <div>
      </li><em>Major:</em>
      <a>Computer Science</a>
    </div>

    <div>
      <em>University:</em>
      <a>Massachusetts Institute of Technology</a>
    </div>

    <div>
      <em>Graduation Year::</em>
      <a>2012</a>
      </li>
    </div>
<br>
<br>
    <div>
        <a>❍</a>
        <ul>
         <b>
            <em>
             <p style="color: #029B40;"><u>Work Experiance:</u></p>
            </em>
         </b>
    </ul>
            <em>Company:</em>
        <a>Google</a>
    </div>

 <div>
     <em> Title:</em>
        <a>Software Engineer</a>
    </div>

<div>
    <em>Duration:</em>
    <br>
        <em> from:</em>
        <a>2012-06-0</a>
    <br>
         <em>to:</em>
        <a>2016-12-31</a>
</div>

<br>
<br>

<div>
    <a>❍</a>
    <ul>
         <b>
            <em>
                <p style="color: #029B40;"><u>Responsibilities:</u></p>
            </em>
         </b>
    </ul>
<br>
    <q>Developed new features for Google Maps</q>
<br>
    <q>Worked on improving search algorithms</q>
</div>

<div>
    <em>Year founded:</em>
    <a>1990</a>
</div>

<div>
    <em> Industry:</em>
    <a>Technology</a>
</div>

<br>
<br>

<div>
    <a>❍</a>
    <ul>
        <b>
            <em>
                <p style="color:#029B40"><u>Employees:</u></p>
            </em>
        </b>
    </ul>
<br>
    <em>Name:</em>
    <a>John Smith</a>
<br>
    <em>Position:</em>
    <a>CEO</a>
<br>
    <em>Department:</em>
    <a>Executive</a>
</div>

<br>
<br>

<div>
    <a>❍</a>
    <ul>
        <b>
            <em>
                <p style="color:#029B40;"><u>Projects:</u></p> 
            </em>
        </b>
    </ul>
<br>
    <em>Name:</em>
    <a>Project Alpha</a>
<br>
    <em>Description:</em>
    <q><a>Developing new software platform</a></q>
<br>
    <em>Status:</em>
    <a>In Progress</a>
</div>

<br>
<br>

<div>
    <a>❍</a>
    <ul>
        <b>
            <em>
                <p style="color:#029B40;"><u>Teams:</u></p>
           </em>
        </b>
    </ul>
<br>
    <em>Team name:</em>
    <a>Awesome Team</a>
<br>
    <em>Team leader:</em>
    <a>John Smith</a>
<br>
    <em>Title:</em>
    <a>Team Leader</a>
<br>
    <em>Email:</em>
    <a>john.smith@example.com</a>
</div>

<br>
<br>

<div>
    <a>❍</a>
    <ul>
        <b>
            <em>
                 <p style="color:#029B40;"><u>Team members:</u></p> 
            </em>
        </b>
    </ul>  
<br>
    <em>Name:</em>
    <a>Alice Johnson</a>
<br>
    <em>Title:</em>
    <a>Software Engineer</a>
<br>
    <em>Email:</em>
    <a>alice.johnson@example.com</a>
<br>
    <em>Skills:</em>
    <a>Java, Python, SQL</a>
</div>

<br>
<br>

<div>
    <a>❍</a>
    <ul>
        <b>
            <em>
                <p style="color:#029B40;"><u>Projects:</u></p> 
            </em>
        </b>
    </ul>
<br>
    <em>Name:</em>
    <a>Project A</a>
<br>
    <em>Description:</em>
    <q><a>Lorem ipsum dolor sit ameteo</a></q>
<br>
    <em>Technologies:</em>
    <a>Java, Spring Framework</a>
</div>

<br>
<br>

<div>
    <a>❍</a>
    <ul>
        <b>
            <em>
                <p style="color:#029B40;"><u>Team members:</u></p>
            </em>
        </b>
    </ul>
<br>
    <em>Name:</em>
    <a>Bob Lee</a>
<br>
    <em>Title:</em>
    <a>Software Engineer</a>
<br>
    <em>Name:</em>
    <a>Cindy Chen</a>
<br>
    <em>Title:</em>
    <a>UI Designer</a>
<br>
</div>
   </section>
        </p>
        </details>
        <br>
<hr/>


  


