<div>
<p>

    
{{#with person}}
<div>
    <i><h1>{{name}}</h1></i>
</div>

<div>
    <b>Age:</b>
    <i>{{age}}</i>
</div>


<div>
  <b>Gender:</b> 
<i>{{gender}}</i>
</div>

<br>
<hr/>
<br>

<div>
    {{#with address}}
    <b>Address:</b> 
<address>{{address}}</address>
<div>
    {{street}}
</div>
<div>
    {{city}}
</div>
<div>
    {{state}}
</div>

<div>
    {{zip}}
</div>

<div>
    {{country}}
</div>

{{/with}}
</div>

</div>
</p>
<br>
<br>
<hr/>

<details>
<summary>
     Click to read more about me
</summary>
<p>
    <br>

    <div>
        <a>❍</a>
        <ul>
            <b>
                <em>
                    <p style="color:#029B40;"><u>Education:</u></p>
                </em>
            </b>
       </ul>
    </div>
 
    <div>
        {{#each education}}
        <em>Degree:</em>
        <a>{{degree}}</a>
    </div>
    
    <div>
      <em>Major:</em>
      <a>{{major}}</a>
    </div>

    <div>
      <em>University:</em>
      <a>{{university}}</a>
    </div>

    <div>
      <em>Graduation Year:</em>
      <a>{{graduationYear}}</a>
      
      </div>
      {{/each}}
    </div>

<br>
<br>
    <div>
        <a>❍</a>
        <ul>
         <b>
            <em>
             <p style="color: #029B40;"><u>Work Experiance:</u></p>
            </em>
         </b>
    </ul>
    </div>
    <div>
         {{#each workExperience}}
            <em>Company:</em>
        <a>{{company}}</a>
    </div>

 <div>
     <em> Title:</em>
        <a>{{title}}</a>
    </div>

<div>
    <em>Duration:</em>
    <br>
        <em> from:</em>
        <a>{{startDate}}</a>
    <br>
         <em>to:</em>
        <a>{{endDate}}</a>
</div>

<br>
<br>

<div>
    <a>❍</a>
    <ul>
         <b>
            <em>
                <p style="color: #029B40;"><u>Responsibilities:</u></p>
            </em>
         </b>
    </ul>
<br>
<div>
    {{#each responsibilities}}
    <q>{{this}}</q>
    <br>
    {{/each}}
</div>

<div>
    
    <em>Year founded:</em>
    <a>{{year_founded}}</a>
</div>

<div>
    <em> Industry:</em>
    <a>{{industry}}</a>
</div>
</div>
<br>
<br>

<div>
    <a>❍</a>
    <ul>
        <b>
            <em>
                <p style="color:#029B40"><u>Employees:</u></p>
            </em>
        </b>
    </ul>
<br>
<div>
     {{#each employees}}
    <em>Name:</em>
    <a>{{name}}</a>
</div>
<div> 
    <em>Position:</em>
    <a>{{position}}</a>
</div>
<div>
    <em>Department:</em>
    <a>{{department}}</a>
</div>

<br>
<br>

<div>
    <a>❍</a>
    <ul>
        <b>
            <em>
                <p style="color:#029B40;"><u>Projects:</u></p> 
            </em>
        </b>
    </ul>
<br>
<div> 
    {{#each projects}}
    <em>Name:</em>
    <a>{{name}}</a>
</div>
   <div> <em>Description:</em>
    <q><a>{{description}}</a></q>
    </div>
   
   <div><em>Status:</em>
    <a>{{status}}</a>  
</div>
<br>
<br>
<div>
    <a>❍</a>
    <ul>
        <b>
            <em>
                <p style="color:#029B40;"><u>Teams:</u></p>
           </em>
        </b>
    </ul>
<br>
<div> 
    {{#each teams}}
    <em>Team name:</em>
    <a>{{team_name}}</a>
</div>

<div>
    <em>Team leader:</em>
    <a>{{team_leader}}</a>
</div>
    
<div>
    <em>Name:</em>
    <a>{{name}}</a>
</div>
    
<div>
    <em>Title:</em>
    <a>{{ title}}</a>
</div>
    
<div>
    <em>Email:</em>
    <a>{{email}}</a>
</div>
    {{/each}}
</div>

<br>
<br>

<div>
    <a>❍</a>
    <ul>
        <b>
            <em>
                 <p style="color:#029B40;"><u>Team members:</u></p> 
            </em>
        </b>
    </ul>  
<br>
<div>
     {{#each team_members}}
     <em>Name:</em>
    <a>{{name}}</a>
</div>
   
<div> 
    <em>Title:</em>
    <a>{{title}}</a>
</div>
   
<div>
    <em>Email:</em>
    <a>{{email}}</a>
</div>
    <div>
    <em>Skills:</em>
    {{#each skills }}
    <a>{{this}}</a>
    <br>
{{/each}}
</div>
<br>
<br>

<div>
    <a>❍</a>
    <ul>
        <b>
            <em>
                <p style="color:#029B40;"><u>Projects:</u></p> 
            </em>
        </b>
    </ul>
<br>
<div>
    {{#each projects}}
    <em>Name:</em>
    <a>{{name}}</a>
</div>
   
<div> <em>Description:</em>
    <q><a>{{description}}</a></q>
    </div>
   
<div>
    <em>Technologies:</em>
     {{#each technologies}}
    <a>{{this}}</a>
<br>
{{/each}}
</div>

<br>
<br>

<div>
    <a>❍</a>
    <ul>
        <b>
            <em>
                <p style="color:#029B40;"><u>Team members:</u></p>
            </em>
        </b>
    </ul>
<br>
<div>
    {{#each team_members}}
    <em>Name:</em>
    <a>{{name}}</a>
</div>

<div>
    <em>Title:</em>
    <a>{{title}}</a>
</div>
{{/each}}
<div>
     <em>Name:</em>
    <a>{{name}}</a>
</div>
 
<div>
    
     <em>Title:</em>
    <a>{{title}}</a>
</div>

<br>
</div>
   </section>
        </p>
        </details>
        <br>
<hr/>
{{/each}}
</div>
{{/each}}
</div>
{{/each}}
</div>
{{/with}}

  


