<header>
    {{#with navigation}}
    <div class="card mb-5">
        <div class="p-2 row">
        <nav class="nav d-flex">
            {{#each links}}
            <a href="{{href}}" class="nav-link">{{text}}</a>
            {{/each}}
            <a href="#" class="nav-link disabled">Disabled</a>
        </nav>
    </div>
    </div>
    {{/with}}
</header>

<div class="mb-5 mt-5">
    {{#with formBlock}}
    <div class="col-8">
        <h4><p>{{header}}</p></h4>
   
        <p>{{rating.title}}</p>
        <p>{{rating.value}}</p>
        </div>
      


<div class="col-8 mb-5">
    {{#with actionBlock}}
    <div class="nav nav-tabs">
        {{#each tabs}}

        <div class="nav-item">
            <a href="#" class="nav-link {{#if isActive}}active{{/if}}">{{text}}</a>
            
        </div>
        {{/each}}
    </div>
</div>
</div>

<div class="mb-5">
<div class="card col-8 ps-3">
    <div class="mt-3">
    {{#with report}}
        <h3><p>{{title}}</p></h3>
            {{#with button}}
            <div class="col-3 ps-1 mb-3">
             <a href="{{link}}" class="btn btn-secondary">{{text}}</a>
             </div>
            {{/with}} 
           </div>
     {{/with}}  
 </div>
{{/with}}
</div>

<div class="col-8">
<hr>
</div>


<div class="mt-5">
    <div class="col-8">
{{#with feedbackBlock}}
<h4><p>{{title}}</p></h4>
</div>

<div class="mt-5">
{{#each buttons}}
<a href="{{link}}" class="btn
{{#if isWarning}}btn-warning{{/if}}
{{#if isSuccess}}btn-success{{/if}}
{{#if isDanger}}btn-danger{{/if}}
">{{text}}</a>
{{/each}}
</div>

</div>
{{/with}}  

<div class="card col-4">
{{#with goodsInfo}}

<div class="col-2">
    <img class="card-img" src="{{photo}}" alt="photos">
</div>

  <div class="col-4">
    <h2><p>{{name}}</p></h2> 
</div>
</div>

<div class="card col-4">
    <div class="ms-3 mt-3">

    <h4><p>{{price}}</p></h4> 

    <p>
        {{#if inMarket}}Є в наявності{{/if}}
    </p>

</div>
<div class="ms-3 mt-3 mb-3 ">
    {{#each buttons}}
    <a href="{{link}}" class="btn
    {{#if isPrimary}}btn-primary{{/if}}
    {{#if isSecondary}}btn-secondary {{/if}}
    ">{{text}}</a>
    {{/each}}
</div>
</div>

<div class="card col-4">
    {{seller.title}} 
   {{seller.value}}
</div>

</div>
{{/with}}
{{/with}}

<hr>

<div class="card">
    {{#each reviewList}}
   <div class="card col-11 mt-5 mb-5 ms-5">
        {{#with title}}
            <p><b>{{userName}}</b></p>
            <p>{{caption}}</p>
            <p>{{date}}</p>
        {{/with}}
    </div>
<div class="card">
    {{#with reviewBody}}
      <p>{{seller.title}} {{seller.value}}</p>

<p>
    {{rating.title}}
    {{rating.value}}
</p>

<p>
    {{text}}
</p>

{{#with advantages}}
<b>{{title}}</b>
<p>{{text}}</p>
{{/with}}

{{#with disadvantages}}
<b>{{title}}</b>
<p>{{text}}</p>
{{/with}}

<p>
     <div class="row">
        <div class="col-5">
            {{#each images}}
            <img class="img-card" src="{{this}}" alt="photos">
            {{/each}}
        </div>
    </div>
</p>
  
<div class="ms-5 mb-5">
    {{#each coments}}
    <div class="card col-11">
    <h2>{{userName}}</h2>
    <p>{{date}}</p>
    <p>{{text}}</p>
    </div>
    {{/each}}
</div>

{{/with}}

</div>
    {{/each}}
</div>

<div class="card text-bg-success">
      {{#with service}}
         <div class="card-body text-center">
            <h5 class="card-title text-center">{{title}}</h5>
            <p class="text-center">{{description}}</p>
        {{#each buttons}}
        <a href="{{link}}" class="btn btn-primary">{{text}}</a>
        {{/each}}
        </div>
    {{/with}}
</div>

       <hr>
    <footer>
         <nav class="nav">
         {{#each footer}}
        <div class="nav-item col-2">
         {{#each this}}
            <a href="{{link}}" class="nav-link {{#if @last}}
            disabled{{/if}}">{{text}}</a>
         {{/each}}
    
    </div>
   {{/each}}
   </nav>
</footer>




  
