<header>
     {{#with navigation}}
<div class="card mb-5">
        <div class="row">
            <div class="nav d-flex">
                {{#each links}}
                    <a hfer="{{link}}" class="nav-link {{#if @last}}disabled{{/if}}">{{text}}</a>
                {{/each}}

            </div>
        </div>
</div>
{{/with}}
</header>

<main>
    <div class="col-6">
        <div class="row">
              <ol class="breadcrumb">
                 {{#each breadcrumb}}
                    <li class="breadcrumb-item">
                        <a href="{{#if url}}null{{/if}}">{{name}}</a>
                    </li>
                {{/each}}
              </ol>
        </div>
    </div>  

<div class="mt-5 mb-5">
     <h4><p>{{header}}</p></h4>
</div>

<div class="row">
<div class="mt-5 mb-5">
    <div class="col-6">
        {{#each sortBlock}}
            <label class="form-label">
                <select class="form-select form-select-sm">
                    <option selected>{{placeholder}}</option>
                         {{#each options}}
                            <option>{{value}}</option>
                            <option>{{text}}</option>
                        {{/each}}
                </select>
            </label>
        {{/each}}
    </div>
</div>
</div>

<div class="card col-4">
<div class="mt-3 mb-3">
    {{#with filterBlock.sellers}}
        <label class="form-label">{{title}}</label>
            <div class="form-check">
                  {{#each list}}
          <label class="form-check-label">{{value}}</label>
            <input type="checkbox" class="form-check-input">
    {{/each}}
            </div>
    {{/with}}
</div>
</div>

<div class="col-4"><hr></div>

<div class="col-4">
    {{#with filterBlock.brands}}
        <label class="form-label">{{title}}</label>
        {{#with input}}
            <input type="text" placeholder="{{placeholder}}" class="form-control me-auto">   
        {{/with}}
        <div class="col-1">
            {{#each options}}
                <input type="checkbox" class="form-check-input">
                <label class="form-check-label">{{value}}</label>
             {{/each}}
        </div>



<div class="col-4"><hr></div>


 {{#with price}}
    <label class="form-label">{{title}}</label>
        {{#with range}}
         <div class="row g-3">
            <div class="col-4">
                <input type="text" class="form-control" placeholder="{{from}}" aria-label="{{from}}">
           </div>
            <div class="col-4">
                <input type="text" class="form-control" placeholder="{{to}}" aria-label="{{to}}">
            </div>
        </div>
        {{/with}}
   
            {{#with button}}
                <a href="{{link}}" class="btn btn-outline-dark">{{text}}</a>
            {{/with}}
{{/with}}
</div>

<div class="col-4"><hr></div>

<div class="col-4">
    <div class="row">
    {{#each filterList}}
     <div class="form-check">
        <label class="form-check-label">{{title}}</label>
            <div class="col-1">
                {{#each options}}
                     <input type="checkbox" class="form-check-input">
                     
                    <label class="form-check-label">{{value}}</label>
                </div>
                {{/each}}
            </div>
</div>
</div>
   <div class="col-4"><hr></div>

<div class="col-4">
    <label class="form-label">{{title}}</label>
            {{#each options}}
                     <input type="checkbox" class="form-check-input">
                     <label class="form-check-label">{{value}}</label>
            {{/each}}
</div>
 
     {{/each}}
</div>
{{/with}}
<div class="row">
<div class="card">
         {{#each goodsList}}
        <div class="card-header col-4">
           <img class="card-img-top" src="{{img}}" alt="photos">
            </div>

            <div class="card-title col-4">
                {{#if isHot}}
                <snap class="badge text-bg-warning rounded-pill text-uppercase">Hot</snap>
                {{/if}}
             
                {{#if isNew}}
                <snap class="badge text-bg-primary rounded-pill text-uppercase">New</snap>
                {{/if}}
            
                {{#if isFast}}
                <snap class="badge text-bg-warning rounded-pill text-uppercase">Fast</snap>
                {{/if}}
           
                {{#if isFree}}
                <snap class="badge text-bg-primary rounded-pill text-uppercase">free</snap>
                {{/if}}
            </div>
          
              

<div class="mt-3 mb-3">

    <h5>{{name}}</h5>

    {{#with review}}
        <p>{{amount}}</p>
         <p>{{text}}</p>
    {{/with}}
</div>

<p><h3>{{price}}</h3></p>
<p>{{delivery}}</p>

<div class="col-4">
    {{#each buttons}}
        <a href="{{link}}" class="btn
        {{#if isPrimary}}btn-primary{{/if}} 
        {{#if isSecondary}}btn-secondary{{/if}}
        ">{{text}}</a>
    {{/each}}
</div>


<div class="col-4">
    <ol>{{#each characteristics}}</ol>
    <li>{{title}} {{value}}</li>
  
</div>

{{/each}}

{{/each}} 

</div>
</div>

<hr>

<div class="card mt-5 mb-5">
    <div class="card text-bg-success">
        {{#with service}}
             <div class="card-title text-center">
                 <h3>{{title}}</h3>
                    <p>{{description}}</p>
                    {{#each buttons}}
                    <a href="{{link}}" class="btn btn-primary">{{text}}</a>
                     {{/each}}
             </div>
        {{/with}}
    </div>
</div>



</main>

<footer>
    <nav class="nav">
        {{#each footer}}
<div class="nav-item col-2">
    {{#each this}}
  <a href="{{link}}" class="nav-link {{#if @last}}
            disabled{{/if}}">{{text}}</a>
    {{/each}}

</div>
        {{/each}}
    </nav>
</footer>








