
 <header>
          {{#with navigation}}
                <div class="card">
                    <nav class="nav">
                    {{#each links}}
                        <a href="{{href}}" class="nav-link">{{text}}</a>
                        {{/each}}
                    <a href="#" class="nav-link disabled">Disabled</a>
                    </nav>
                </div>  
        {{/with}}
</header>

    <div class="m-5 mb-3">
       <h3>{{header}}</h3>
    </div>

      {{#with purchase}}
<div class="row">
  <div class="col-12 mb-5">
 
     <div class="nav nav-tabs">
           {{#each tabs}}
         <div class="nav-item">
             <a href="#" class="nav-link {{#if @first}}active{{/if}}">{{this}}</a>  
         </div>
         {{/each}}
     </div>
  </div>

</div>
   
 <div class="row g-5">
     <div class="col-4">
            {{#with actionBlock}}
                {{#with input}}
                     <input type="{{placeholder.input}}" class="form-control">
                {{/with}}
            </div>
 <div class="col-6 ">
     {{#each buttons}}
        {{#if isSuccess}}
         <a href="{{link}}" class="btn btn-success">{{text}}</a>
            {{/if}}
                 {{#if isOutline}}
                 <a href="{{link}}" class="btn btn-outline-success">{{text}}</a>
                     {{/if}}
                         {{#if isDanger}}
                <a href="{{link}}" class="btn btn-outline-danger">{{text}}</a>
                  {{/if}}
            {{/each}}
           </div>
        </div>
  {{/with}}

<hr>


      {{#each itemList}}
      <div class="row">
            <div class="col-4">
            <div class="text-sm">{{number}}</div>
            <b>{{status}}</b>
        </div>

        <div class="col-2">
           <p>{{amount.title}}</p> 
           <h4><p>{{amount.value}}</p></h4>
        </div>
        <div class="col-4">
            {{#each images}}
            <img class="img-card" src="{{this}}" alt="photos">
            {{/each}}
        </div>

            <div class="col-2">
            {{#with button}}
            {{#if isPrimary}}
            <a href="{{link}}" class="btn btn-primary">{{text}}</a>
            {{/if}}
         {{/with}}
         </div>      
    </div>
        {{/each}}

{{/with}}

<hr>
<div class="col-5 mb-5 mt-5">
    {{#with userInfo}}
    <h4>{{title}}</h4>
</div>
<div class="card">
{{#with profileData}}
 <h4>{{title}}</h4>

     <div class="card">
     {{#with fullName}}
       <div class="row">

     <div class="col-4">
       <p>{{surname.title}}</p> 
       <p>{{surname.value}}</p> 
    </div>

<div class="col-4">
<p>{{name.title}}</p>
<p>{{name.value}}</p>
</div>

<div class="col-4">
<p>{{middleName.title}}</p>
<p>{{middleName.value}}</p>
</div>
</div>
{{/with}}
  </div>
</div>
<div class="card">
    {{#with otherInfo}}
    <div class="row">
    <div class="col-4">
       <p>{{birthday.title}} </p>
      <p>{{birthday.value}}</p> 
    </div>

     <div class="col-4">
       <p>{{sex.title}}</p> 
      <p>{{sex.value}}</p> 
    </div>

     <div class="col-4">
       <p>{{language.title}} </p>
       <p>{{language.value}}</p>
    </div>
    </div>
{{/with}}
</div>
{{/with}}
</div>
</div>

<div class="card">
    <div class="row">
        {{#each buttons}}

        <div class="col-3">
            
         <a href="{{link}}" class="btn 
        {{#if isPrimary}}btn-primary{{/if}}
        {{#if isSecondary}}btn-outline-secondary{{/if}}
        {{#if isDanger}}btn-outline-danger{{/if}}
        ">{{text}}</a>
        </div>   
{{/each}}
</div>

<div class="card">
    {{#with recipients}}
    <h3>{{title}}</h3>
    <div class="row">
    {{#each users}}
    <div class="card col-4">
        <p>{{name}}</p>
        <p>{{phone}}</p>
        {{#with button}}
        <a href="{{link}}" class="btn btn-primary">{{text}}</a> 
          {{/with}}
          </div>
          {{/each}}
          </div>
{{/with}}

<div class="card">
    {{#with contacts}}
    <div class="mt-5 mb-5">
        <h3>{{title}}</h3>
    </div>
    <div class="row">
{{#each contactData}}
<div class="card col-4">
    <p>{{title}}</p>
    <p>{{value}}</p>

    {{#with button}}
       
        <a href="{{link}}" class="btn
        {{#if isPrimary}}btn-primary{{/if}}
        {{#if isSecondary}}btn-outline-secondary{{/if}}
        {{#if isDanger}}btn-outline-danger{{/if}}
        ">{{text}}</a>
        {{/with}}
</div>
{{/each}}
</div>
</div>
{{/with}}
{{/with}}
<hr>

<nav class="nav">
    {{#each footer}}
    <div class="nav-item col-2">
        {{#each this}}
        <a href="{{link}}" class="nav-link {{#if @last}}disabled{{/if}}">{{text}}</a>
        {{/each}}
    </div>
    {{/each}}
</nav>

