
 <header>
          {{#with navigation}}
                <div class="card">
                    <nav class="nav">
                    {{#each links}}
                        <a href="{{href}}" class="nav-link">{{text}}</a>
                        {{/each}}
                    <a href="#" class="nav-link disabled">Disabled</a>
                    </nav>
                </div>  
        {{/with}}
</header>

    <div class="m-5 mb-3">
       <h3>{{header}}</h3>
    </div>

      {{#with purchase}}
<div class="row">
  <div class="col-12 mb-5">
 
     <div class="nav nav-tabs">
           {{#each tabs}}
         <div class="nav-item">
             <a href="#" class="nav-link {{#if @first}}active{{/if}}">{{this}}</a>  
         </div>
         {{/each}}
     </div>
  </div>

</div>
   
 
   <section>
    <div class="p-5">
        <div class="row g-5">
            <div class="col-12">
                <div>
                      {{#with actionBlock}}
                    <label class="form-label">{{placeholder.input}}</label>
                    <input class="form-control">

                </div>
            </div>
   {{#with input}}
  {{/with}}
  {{/with}}

{{/with}}



