<div>
    <p>
			<div><p style="color:blue;"><h1>Web</h1></p>
        {{#with web}}
				</div>
			
					<div>
						<p style="color:#c99e1a;"><b>Languages:</b></p>
            {{#each languages}}
            </div>

                <div>
                  <i>Name:</i>
                    {{name}}
                </div>   
          
                <div>
                   <i>Version:</i>
                    {{version}}
                </div>   

                <div>
                    <i>Description:</i>
                    <q>{{description}}</q>
                </div>   
							
							
<div>
	{{#if elements}}
	<p style="color:#c99e1a;"><b>Elements:</b></p>
	{{/if}}
	{{#each elements}}
	</div>
	
        <div>
            <i>Name:</i>
              {{name}}
        </div>   

      <div>
           <i>Description:</i>
             <q>{{description}}</q>
</div>
<div>
	<p style="color:#c99e1a;"><b>Attributes:</b></p>
	{{#each attributes}}
	</div>
        <div>
            <i>Name:</i>
              {{name}}
        </div>   

      <div>
           <i>Description:</i>
             <q>{{description}}</q>
      </div>  
			 
	{{/each}}
  </div>   
	{{/each}}
<div>
	{{#if properties}}
	<p style="color:#c99e1a;"><b>Properties:</b></p>
	{{/if}}
	{{#each  properties}}
	</div>
        <div>
            <i>Name:</i>
              {{name}}
        </div>   

      <div>
           <i>Description:</i>
             <q>{{description}}</q>
      </div>  

<div>
	<p style="color:#c99e1a;"><b>Values:</b></p>
	{{#each values}}
	</div>
        <div>
            <i>Value:</i>
              {{value}}
        </div>   

      <div>
           <i>Description:</i>
             <q>{{description}}</q>
      </div>   
	{{/each}}

</div>
	{{/each}}
<div>
	<p style="color:#c99e1a;"><b>Functions:</b></p>

	{{#each functions}}
	</div>
        <div>
            <i>Name:</i>
              {{name}}
        </div>   

      <div>
           <i>Description:</i>
             <q>{{description}}</q>
      </div>  
</div> 

<div>
		<p style="color:#c99e1a;"><b>Parameters:</b></p>
	{{#each parameters}}
	</div>
        <div>
            <i>Name:</i>
              {{name}}
        </div>   

      <div>
           <i>Type:</i>
             <q>{{type}}</q>
      </div>  
<div>
     <i>Description:</i>
     <q>{{description}}</q>
</div> 
 
{{/each}}

</div> 
{{/each}}
</div>

{{/each}}


</div> 
{{/with}}

    </p>
</div>