<div class="ms-2 mt-5 mb-5">
    {{#with total}}
        <h3>{{title}}</h3>
            <h3>{{amount}}</h3>
                <div>{{delivery}}</div>
                   <div class="d-grid gap-3 mt-3">{{#each buttons}}
               <div> {{#if isSuccess}}
            <a href="{{link}}" class="btn btn-success">{{text}}</a>
        {{else}}
           <div> {{#if isOutline}}
            <a href="{{link}}" class="btn btn-outline-success">{{text}}</a>       
                 </div>
                    {{/if}} 
                        </div>
                    {{/if}}
                </div>
            {{/each}}
        </div>
    {{/with}}